header{
    color:neydewho;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max: width 600px;){
    flex-direction:column;
    align-items: flex-start;
}
}

.logo {
    width: 150px;
    float:left;
    @media (max: width 600px;)
    flex-direction:column;
    align-items: flex-start;
}

.logo1 {
    width: 200px;
    float: right;
    @media (max: width 600px;){
        flex-direction:column;
        align-items: flex-start;
    }
}

/*ENCABEZADO*/

nav{
    background-color: rgba(13, 238, 133, 0.452);
    text-align: center;   
    @media (max: width 600px;){
        flex-direction:column;
        align-items: flex-start;
    }

}

.iconos {
    width: 30px;
    align-items: center;
}

.encabezado ul{
    list-style: none;  
    @media (max: width 600px;){
        flex-direction:column;
        align-items: flex-start;
    }
}

.menu > li{
    display: inline-block;
}

.menu >li>a{

    display: block;
    padding: 20px 20px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    text-decoration: none;
}

/*SUBMENUS*/

/*TEMAS*/

.subtemas{
    position: absolute;
    background-color: rebeccapurple;   
    visibility: hidden;    
    opacity:0;
    transition: opacity 1.5s;

}

.subtemas li a{
    display: block;    
    padding: 15px;
    color:honeydew;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    
}

.menu li:hover .subtemas{
    visibility: visible;
    opacity:1;
}

/*RECURSOS*/

.subrecursos{
    position: absolute;
    background-color: rebeccapurple;   
    visibility: hidden;    
    opacity:0;
    transition: opacity 1.5s;
 

}

.subrecursos li a{
    display: block;    
    padding: 15px;
    color:honeydew;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
   
}

.menu li:hover .subrecursos{
    visibility: visible;
    opacity:1;
}

/*APRENDIZAJE*/

.subaprendizaje{
    position: absolute;
    background-color: rebeccapurple;   
    visibility: hidden;    
    opacity:0;
    transition: opacity 1.5s;
    

}

.altura-a-b{
   padding: 100px 0;
}

.subaprendizaje li a{
    display: block;    
    padding: 15px;
    color:honeydew;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
   
}

.menu li:hover .subaprendizaje{
    visibility: visible;
    opacity:1;
}

/*CONTENIDO*/

section{
    
    float:left;
    max-width: 70%; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max: width 600px;){
        flex-direction:column;
        align-items: flex-start;
    }
}
aside{
   
    float: right;
    max-width: 30%;
    color:honeydew;
    @media (max: width 600px;){
        flex-direction:column;
        align-items: flex-start;
    }
}


/*PIE DE PAGINA*/

footer{    
    background-color: rgb(87, 10, 90);
    padding: 10px; 
    color: blanchedalmond;
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    @media (max: width 600px;)
}
.contenido::after{
    content: "";
    display: block;
    clear: both;
    @media (max: width 600px;){
        flex-direction:column;
        align-items: flex-start;
    }
}